@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 24px;
}

body {
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.8;
}

.container {
  height: 100vh;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  /* position: absolute; */
  display: flex;
  align-items: center;
  padding: 40px;
  position: fixed;
  width: 100%;
  z-index: 1; /* 레이어 최상위로 보내주는 개념 html에서는 맨 위에 작성한 것이 맨 아래 레이어에 해당 1은 맨위 -1은 맨 아래로 간다 그런 효과를 냄 */
}

.logo {
  margin-right: auto;
}

.logo img {
  width: 46px;
}

.sign {
  margin-left: 70px;
}

.sign img {
  width: 16px;
}

.bars {
  display: block;
  z-index: 1;
}

.menu {
  display: flex;
  gap: 60px;
}

.menu a {
  background-color: transparent;
  padding: 6px 20px;
  border-radius: 40px;
  border: 1px solid transparent;
  transition: all 0.6s;
  /* 부드럽게 트렌지션 된다는 뜻 */
}

.menu a:hover {
  border: 1px solid #fff;
}

.menu a.on {
  background-color: #fff;
  color: #000;
}

.social {
  position: fixed;
  top: 50%;
  right: 40px;
  display: flex;
  flex-direction: column;
  /* 방향 세로로 */
  transform: translateY(-50%);
  gap: 40px;
  /* 40px 자동으로 떨어뜨림 */
}

.social i {
  color: #9fa6ff;
}

.social a:hover i {
  /* 소셜의 a에 호버가 일어나면 i의 색이 #fff가 되겠다 */
  color: #fff;
  transition: all 0.6s;
}

.main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.main_text h2 {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
}

.main_text p {
  font-size: 13px;
  opacity: 0.8;
}

.footer {
  /* position: absolute; */
  /* 앱솔루트를 하고나면 넓이가 사라짐 */
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.footer i {
  color: #9fa6ff;
}

.footer a:hover i {
  color: #fff;
  transition: all 0.6s;
  /* 지금은 all이라고 하지만 사실은 all 자리에 변화되는 것을 작성 예를들면 color */
}

/* 반응형 */
@media (max-width: 768px) {
  /* 768이하일때 */
  .menu {
    position: absolute;
    flex-direction: column;
    /* 아래로 메뉴가 떨어짐 */
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    /* vh 미디어의 높이만큼 한다 */
    top: 0;
    left: 100%;
    padding: 40px;
    padding-top: 100px;
    gap: 30px;
    transition: left 0.6s;
  }

  .active {
    left: 0;
  }

  .main_text h2 {
    font-size: 50px;
    padding: 0 20px;
  }
  .main_text p {
    font-size: 10px;
    padding: 0 40px;
  }
  .social {
    display: none;
  }

  .sign {
    display: none;
  }

  .bars {
    display: block;
    /* block이 none의 반대 */
  }
}
