* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.heather {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
  padding: 30px;
  background-color: ;
}

.logo img {
  width: 50px;
}

ul {
  width: 80%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

li {
  float: left;
  position: relative;
  height: 100%;
  width: 25%;
}

li a {
  display: block;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.main {
  width: 100%;
  height: 750px;
  background-image: url(../img/deathnote_banner.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  background-color: red;
  text-align: center;
}
