* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.heather {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.logo img {
  width: 50px;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 50px;
  padding: 0;
  background-color: transparent;
}

li {
  float: left;
  position: relative;
  height: 100%;
  width: 25%;
}

li a {
  display: block;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.mainimg {
  width: 100%;
}
